<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto Django</title>
</head>
<body>
    <header>
        <!-- Seu cabeçalho aqui -->
        <h1>Meu Projeto Django</h1>
        <nav>
            <ul>
                <!-- Outros links de navegação podem ser adicionados aqui -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico da página será substituído aqui -->
        {% endblock %}
    </main>

    <footer>
        <!-- Seu rodapé aqui -->
        <p>&copy; 2024 Meu Projeto Django. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
