{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Botanic Garden Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Botanic Garden
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/Botanic Garden-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Botanic Garden<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Jardins</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">São Mateus</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Bem-Vindo ao Botanic Garden<span>.</span></h1>
          <h2>Descubra a beleza da natureza em nosso jardim botânico digital.</h2>
        </div>
      </div>
      <h3><a href="{% url 'web:plant_map' %}" target="_blank">Mapa Jardim</a></h3>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class='bx bxs-map' ></i>
            <h3><a href="{% url 'web:plant_map' %}" target="_blank">Mapa Jardim</a></h3>

          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class='bx bxs-leaf'></i>
            <h3><a href="">Dolor Sitema</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Sedare Perspiciatis</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Magni Dolores</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Nemos Enimade</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="Imagem do Jardim Botânico">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Bem-vindo ao nosso Jardim Botânico</h3>
            <p class="fst-italic">
              O nosso Jardim Botânico é um espaço dedicado à preservação e estudo da flora local e global, proporcionando um ambiente tranquilo para visitantes e pesquisadores.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Lar de mais de 500 espécies de plantas nativas e exóticas.</li>
              <li><i class="ri-check-double-line"></i> Programas educativos e eventos especiais para todas as idades.</li>
              <li><i class="ri-check-double-line"></i> Trilhas ecológicas, jardins temáticos e áreas de pesquisa científica.</li>
            </ul>
            <p>
              Nosso jardim botânico oferece uma experiência única de imersão na natureza, onde você pode aprender sobre a importância da conservação das plantas e o impacto positivo que elas têm no meio ambiente. Venha nos visitar e descubra a beleza e diversidade do mundo vegetal.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projetos</h2>
          <p>Confira nossos Projetos</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-walk"></i></div>
              <h4><a href="">Visitas Guiadas</a></h4>
              <p>Explore o jardim botânico com a ajuda de nossos guias experientes e descubra as maravilhas da natureza.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book"></i></div>
              <h4><a href="">Programas Educativos</a></h4>
              <p>Participem de nossos workshops e programas educativos para aprender mais sobre botânica e conservação ambiental.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-calendar-event"></i></div>
              <h4><a href="">Eventos</a></h4>
              <p>Junte-se a nós em eventos especiais, incluindo exposições, palestras e festivais de flores.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-leaf"></i></div>
              <h4><a href="">Conservação de Plantas</a></h4>
              <p>Nosso compromisso com a conservação de plantas raras e ameaçadas de extinção ajuda a proteger a biodiversidade.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-flask"></i></div>
              <h4><a href="">Pesquisa Científica</a></h4>
              <p>Apoiamos e conduzimos pesquisas científicas para promover o conhecimento sobre as plantas e seus ecossistemas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4><a href="">Loja de Presentes</a></h4>
              <p>Visite nossa loja de presentes e encontre uma variedade de itens relacionados à natureza e ao jardim botânico.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Nossos Números</h3>
              <p>
                Nosso jardim botânico é um tesouro de biodiversidade. Aqui estão alguns números que destacam a diversidade e a riqueza de nossa coleção.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-tree"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Espécies</strong> diferentes de plantas para explorar.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-collection"></i>
                    <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Gêneros</strong> representando uma vasta gama de plantas.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-diagram-3"></i>
                    <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Famílias</strong> distintas de plantas presentes.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-flower1"></i>
                    <span data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Plantas</strong> individuais em nossa coleção.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/lorenzo.jpeg' %}" class="testimonial-img" alt="">
                <h3>Marcos Silva</h3>
                <h4>Biólogo</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  O jardim botânico é um lugar incrível para estudar a biodiversidade. A coleção de plantas é impressionante e a organização é excelente.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/lorenzo.jpeg' %}" class="testimonial-img" alt="">
                <h3>Ana Pereira</h3>
                <h4>Visitante Frequente</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Adoro visitar o jardim botânico com minha família. É um ótimo lugar para aprender sobre plantas e desfrutar de um ambiente tranquilo.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/lorenzo.jpeg' %}" class="testimonial-img" alt="">
                <h3>Carla Souza</h3>
                <h4>Estudante de Botânica</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  O jardim botânico é uma fonte inestimável de aprendizado para estudantes de botânica. A diversidade de espécies é incrível e a equipe é muito prestativa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/lorenzo.jpeg' %}" class="testimonial-img" alt="">
                <h3>Pedro Lima</h3>
                <h4>Fotógrafo de Natureza</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fotografar no jardim botânico é uma experiência única. As plantas são bem cuidadas e há sempre algo novo para capturar com a câmera.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/lorenzo.jpeg' %}" class="testimonial-img" alt="">
                <h3>Joana Oliveira</h3>
                <h4>Professora</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Levo meus alunos ao jardim botânico todos os anos. É uma ótima maneira de ensinar sobre a importância da conservação das plantas.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/lorenzo.jpeg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/LorenzoAlvesS"><i class="bi bi-twitter"></i></a>
                  <a href="https://github.com/LorenzoAlvess"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/lorenzoalvess/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/lorenzo-alves-de-sousa-9116ab217/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lorenzo Alves</h4>
                <span>Backend Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.5187583503534!2d-39.858870984467464!3d-18.687228122101314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78fca8b1e051b3%3A0x9ee33dd82a2a9ee5!2s84FQ%2BM2%2C%20Litor%C3%A2neo%2C%20S%C3%A3o%20Mateus%20-%20ES%2C%2099790-000!5e0!3m2!1sen!2sbr!4v1649788926214!5m2!1sen!2sbr" frameborder="0" allowfullscreen></iframe>

        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Bairro Litorâneo, São Mateus - ES | CEP 29932-540</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>jardimbotanico.ceunes@ufes.br</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Botanic Garden<span>.</span></h3>
              <p>
                Rodovia Governador Mário Covas, Km 60 - Bairro Litorâneo, São Mateus - ES | CEP 29932-540<br><br>
                <strong>Telefone:</strong> +55 1234 5678<br>
                <strong>Email:</strong> jardimbotanico.ceunes@ufes.br<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sobre nós</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Serviços</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de serviço</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Política de privacidade</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preencher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preencher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preencher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preencher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Preencher</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Nossa Newsletter</h4>
            <p>Receba as últimas notícias sobre nosso jardim botânico digital.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Inscrever-se">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Direitos Autorais <strong><span>Botanic Garden</span></strong>. Todos os direitos reservados
      </div>
      <div class="credits">
        Projetado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>